<div class="container-fluid" id="home-header">
<div><%= inline_svg "circle_sun.svg", class: 'circle-sun' %></div>
<div><%= inline_svg "dome.svg", class: 'dome' %></div>
<div><%= inline_svg "ground.svg", class: 'ground' %></div>
<div><%= inline_svg "pyramid_1.svg", class: 'pyramid-one' %></div>
<div><%= inline_svg "pyramid_2.svg", class: 'pyramid-two' %></div>
<div><%= inline_svg "pyramid_4.svg", class: 'pyramid-four' %></div>
<div><%= inline_svg "pyramid_2.svg", class: 'pyramid-three' %></div>
<div><%= inline_svg "pyramid_6.svg", class: 'pyramid-six' %></div>
<div><%= inline_svg "pyramid_5.svg", class: 'pyramid-five' %></div>
<div><%= inline_svg "pyramid_8.svg", class: 'pyramid-eight' %></div>
<div><%= inline_svg "pyramid_7.svg", class: 'pyramid-seven' %></div>




  <div id="home-banner">
    <div class="row">
      <div class="col-md-6">
        <div id="home-banner-name" class="text-center">Victor Estrada</div>
      </div>
      <div class="col-md-6">
        <div id="home-banner-title">UX Designer<br>& Researcher</div>
      </div>
    </div>
  </div>
</div>
