<!--Cool Beans Project-->
<div class="container-fluid beans-project">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('beans-menu.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5">
      <h2>UX-Driven <br>Web Development</h2>
      <p><strong>The Problem:</strong> A long-standing business requested a website to drive interest in their new food menu.</p>
      <p><strong>The Solution:</strong> After user research and collaboration with management, a clear business strategy was developed to market the web content to a university demographic.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>User Research</li>
        <li>Web Development</li>
        <li>Content Strategy</li>
        <li>SEO Optimization</li>
        <li>UX Testing</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>Git Bash</li>
          <li>Adobe Creative Cloud</li>
          <li>Bootstrap</li>
          <li>Google Analytics</li>
        </ul><br>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Approach</h5>
        <p>Adhering to usability best practices and SEO strategies, a dynamic website was developed with meta description and keyword tagging.</p>
        <p>Marketing to a university demographic, I practiced UX testing to not only design engaging content but also to develop a lightweight interface for management to update content.</p>
      </div>
    </div>

  </div>
</div>

<!--American Heart Project-->
<div class="container-fluid heart-project">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('aha-logo.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5">
      <h2>American Heart Association (AHA), 2016</h2>
      <p><strong>The Problem:</strong> The AHA requested usability testing on their Scientific Sessions Newsroom Intranet, an intranet for journalists reporting on the annual AHA science conference.</p>
      <p><strong>The Solution:</strong> Working with graduate students, we examined the information architecture and usability of the site with personas, cards sorts, heuristic evaluations, and direct user-testing with Morae, a usability testing software.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>User Research</li>
        <li>Card Sort Analysis</li>
        <li>Heuristic Evaluations</li>
        <li>Client Deliverables</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Morae Software</li>
          <li>Adobe Creative Cloud</li>
          <li>Microsoft Office</li>
          <li>Slack</li>
        </ul><br>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Approach</h5>
        <p>With a team of technical communicators, we researched and analyzed the goals of medical reporters. With our research, the team developed personas to conduct heuristic-evaluations and scenario testing with Morae. With multiple deliverables for our clients, we presented our usability recommendations for the AHA newsroom site.</p>
      </div>
    </div>

  </div>
</div>

<!--Overture Marketplace Project-->
<div class="container-fluid marketplace-project">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('overture.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5">
      <h2>Overture Marketplace, 2016</h2>
      <p><strong>The Problem:</strong> With an unacceptable bounce rate, the student loan comparison site, Overture Marketplace sought insight into why users would not engage with their online service.</p>
      <p><strong>The Solution:</strong> Understanding how students approach the loan comparison site, I collaborated with a small team to conduct user research and to develop, process, and analyze data by utilizing the software UserZoom.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>User Research</li>
        <li>Heuristic Evaluation Analysis</li>
        <li>Usability Scenario Writing</li>
        <li>Client Deliverables</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>UserZoom Software</li>
          <li>Microsoft Office</li>
          <li>Affinity Diagramming</li>
          <li>Adobe Creative Cloud</li>
        </ul><br>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Approach</h5>
        <p>With a team of graduate students, we conveyed highly technical usability findings into deliverables that could impact our client. With PowerPoint and Adobe, the deliverables presented our findings using best practices in design and technical writing.</p>
      </div>
    </div>

  </div>
</div>


<!--UNT UX Project-->
<div class="container-fluid research-project">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('flight-survey.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5">
      <h2>UX Research with Generation Y, 2016</h2>
      <p><strong>The Problem:</strong> Vice presidents of the Division of Student Affairs (DSA) and departmental leaders requested more insight into how to organize and present their departments online.</p>
      <p><strong>The Solution:</strong> Using UX research to gather quantitative and qualitative data, I worked directly with students to gain knowledge of how they grouped, sorted, and felt about the departments, programs, and services of the division.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>Audience analysis</li>
        <li>Created Data-based Personas</li>
        <li>Conducted card sorts</li>
        <li>Qualitative Surveys</li>
        <li>Quantitative Surveys</li>
        <li>Conducted think-alouds</li>
        <li>Conducted A/B testing</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Interviews and surveys</li>
          <li>Think-aloud protocols</li>
          <li>Card Sorts</li>
          <li>Correlation Matrices</li>
          <li>Affinity Diagrams</li>
          <li>Adobe Creative Cloud</li>
          <li>Microsoft SharePoint</li>
        </ul><br>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Approach</h5>
        <p>To improve the information architecture of the DSA site, a site with an audience of over 40,000 users, I led the research by practicing UX methods such as card sorts and think-alouds. As a result, I established a user-centered design process for the updated DSA website.</p>
      </div>
    </div>

  </div>
</div>

<!--UNT Drupal Project-->
<div class="container-fluid drupal-project">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('dls-form.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5">
      <h2>Managing a Drupal CMS, 2015</h2>
      <p><strong>The Problem:</strong> Suddenly without a Web Developer, the marketing department of the Division of Student Affairs sought an individual with technical aptitude, superior editing skills, and the ability to collaborate with employees belonging to over 25 departments.</p>
      <p><strong>The Solution:</strong> Placing users and clients first, I met with vice presidents, directors, administrators, and student workers to guide my management and development of content.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>Drupal Administrator</li>
        <li>Content Manager</li>
        <li>Style Guide Manager</li>
        <li>Project Manager</li>
        <li>Web Copy Writer</li>
        <li>Technical Editor</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Drupal</li>
          <li>Dreamweaver</li>
          <li>PHP, JavaScript, and HTML5</li>
          <li>Bootstrap and SCSS</li>
          <li>Adobe Creative Cloud</li>
          <li>Google Analytics</li>
        </ul><br>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Approach</h5>
        <p>Using collaboration skills and CMS tools, I practiced user-centered web development to complete projects, manage content, and contribute creatively to the DSA marketing team. Backed by data from google analytics and surveys, I established a mobile-first design for the site using Bootstrap.</p>
      </div>
    </div>
  </div>
</div>

<!--Ruby Database Interface Project-->

<div class="container-fluid ruby-project" id="ruby-link">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= link_to (image_tag ('techcorp-home.png'), class: 'img-responsive'), '#' %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5">
      <h2>Developing an Online Database and Interface</h2>
      <p><strong>The Problem:</strong> Clients of techCorp requested a web-based corpus to share and organize documents produced by Technical Communication students.</p>
      <p><strong>The Solution:</strong> To create a simple, lightweight, and fast interface, I chose web technologies that could be used to prototype a RESTful application.</p><br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>Audience Analysis</li>
        <li>Database Design</li>
        <li>Web Development</li>
        <li>UI Design</li>
        <li>UX Testing</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>Git Bash</li>
          <li>Adobe Creative Cloud</li>
          <li>Bootstrap</li>
          <li>Think-alouds</li>
        </ul><br>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Approach</h5>
        <p>So that users could login and upload their technical documents, I took advantage of RESTful services such as Devise and Amazon Web Services&mdash;two popular services built for a Model, View, and Controller (MVC) framework such as Ruby on Rails.</p>
        <p>For the user interface, I adopted an iterative process to test and discover the best choices for searching documents.</p>
      </div>
    </div>

  </div>
</div>

<!--DITA Project-->
<div class="container-fluid dita-project" id="dita-link">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('dita-code.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-0">
      <h2>Single-sourcing with DITA</h2>
      <p><strong>The Problem:</strong> After writing procedures for the editing feature, Microsoft Track Changes, I wanted to use technical communication technologies to tailor multiple deliverables for the different needs of the user.</p>
      <p><strong>The Solution:</strong> To accomplish the project, I structured the software procedures using the Darwin Information Typing Architecture (DITA), an XML data model that divides procedures into tasks, references, and concepts.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>Audience Analysis</li>
        <li>Technical Procedures</li>
        <li>Document Design</li>
        <li>DITA/XML Coding</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Microsoft Word</li>
          <li>DITA Open Toolkit</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul><br>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Approach</h5>
        <p>To develop deliverables tailored to the audience, I first conducted an audience-analysis and user-tested the software procedures.</p>
        <p>After coding the XML data with DITA, I produced a web-based HTML manual and a quick reference PDF file.</p>
      </div>
    </div>
  </div>
</div>

<!--Denton Bicycle Center Project-->
<div class="container-fluid dbc-project" id="dbc-link">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
      <%= image_tag('DBC.png', :class=>'img-responsive') %>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-0">
      <h2>Designing an Information System</h2>
      <p><strong>The Problem:</strong> The Denton Bicycle Center requested an estimate of the economic costs of adding a rental system to their existing information system.</p>
      <p><strong>The Solution:</strong> Following the Systems Development Life Cycle (SDLC), a team of graduate students produced a cost-effective solution using a baseline project plan and data-flow diagrams.</p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h5>My Role</h5>
      <ul>
        <li>Project Management</li>
        <li>Information Architecture</li>
        <li>Database Design</li>
        <li>Copyediting</li>
        <li>Milestone Deliverables</li>
      </ul><br>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Microsoft Project</li>
          <li>Microsoft Visio</li>
          <li>Microsoft Office</li>
          <li>Adobe Creative Cloud</li>
          <li>TEI: OxGarage and XML</li>
        </ul><br>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div>
        <h5>Approach</h5>
        <p>In addition to managing team communication and deadlines with Microsoft Project, I chose to manage the team's files using XML. Because teammate files developed as the project grew, XML became the best choice to ensure the document's consistency in structure and style.</p>
        <p>The XML files were imported monthly into Adobe InDesign to create professional milestone deliverables.</p>
      </div>
    </div>

  </div>
</div>

<!-- Back up button -->
<div id="projects-arrow">
  <%= link_to '#', class: "back-to-top" do %>
    <span class="glyphicon glyphicon-arrow-up"></span>
  <% end %>
</div>

  <script>
      var amountScrolled = 300;

    $(window).scroll(function() {
      if ( $(window).scrollTop() > amountScrolled ) {
        $('a.back-to-top').fadeIn('slow');
      } else {
        $('a.back-to-top').fadeOut('slow');
      }
    });

    $('a.back-to-top').click(function() {
      $('html, body').animate({
        scrollTop: 0
      }, 700);
      return false;
    });

  </script>

  <script>
  $(document).on('click','.down-to-anchor', function(event) {
      event.preventDefault();
      var target = "#" + this.getAttribute('data-target');
      $('html, body').animate({
          scrollTop: $(target).offset().top
      }, 700);
  });
  </script>
