<nav class="navbar navbar-default">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
    </button>
    <%= link_to image_tag("logo-updated.png", :alt=>'estrada logo', :class=>'navbar-brand'), root_path %>
		<p><%= link_to "Resume", 'resume.pdf', class: "navbar-text", id: "resume-link" %></p>
  </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-collapse">
    <ul class="active nav navbar-nav navbar-right">
      <% if current_page?(root_path) %>
        <li class="<%= active_class(root_path) %>" id="home_option"><%= link_to "Home", root_path, class: "nav_link" %></li>
      <% else %>
        <li class="<%= active_class(root_path) %>"><%= link_to "Home", root_path, class: "nav_link" %></li>
      <% end %>
      <li class="<%= active_class(about_path) %>"><%= link_to "About", about_path, class: "nav_link" %></li>
      <li class="<%= active_class(projects_path) %>"><%= link_to "Projects", projects_path, class: "nav_link" %></li>
      <li><%= link_to "Resume", 'resume.pdf', class: "nav_link" %></li>
      <li class="<%= active_class(contact_path) %>"><%= link_to "Contact", contact_path, class: "nav_link" %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>
