<!DOCTYPE html>
<html>
  <head>
    <title>Victor's Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <meta name="description" content="A UX Portfolio developed by Victor Estrada, Master's in Technical Communication.">
    <meta name="keywords" content="ux, portfolio, victor estrada, unt, victor, estrada, university of north texas, denton, houston, texas, user experience, technical communication, content management, technical, writer, usability, cms, ruby, ruby on rails, web development, ux writer, ux developer, technical writer, content manager, ux research, drupal, card sort, personas, huxpa, twitter, linkedin, github, ux design, ux designer, user-centered design, front end development">
    <meta name="author" content="Victor Estrada, victor-estrada.com, Master's in Technical Communication authored the website with Ruby on Rails.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render 'layouts/header' %>
  <%= yield %>
  	<%= render 'layouts/footer' %>
  </body>

</html>
