<!DOCTYPE html>
<html>
  <head>
    <title>Victor Estrada | Technical Communicator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <meta name="description" content="Victor Estrada, Master's in Technical Communication, Technical Editor for Renesas Electronics">
    <meta name="keywords" content="victor estrada, unt, victor, estrada, university of north texas, denton, houston, austin, texas, palm bay, florida, milipitas, california, tokyo, japan, texas, technical communication, content management, content strategy, technical editing, technical, writer, usability, cms, technical writer, content manager, user research, card sort, information architecture, twitter, linkedin, github, ui design, user-centered design, framemaker, extendscript, dita, adobe, darwin information typing architecture, editior, technical editor, semiconductors, renesas">
    <meta name="author" content="Victor Estrada, victor-estrada.com, Master's in Technical Communication, Technical Editor, Documentation Architect, and DITA Writer.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <%= yield %>
  </body>

</html>
